Repository alicevision/Meshroom, pull requests merged in 2023-06, with the labels that each got.

#2040 [nodes] CameraInit: access intrinsic properties safely
  meshroom/nodes/aliceVision/CameraInit.py
Labels: bugfix

#2039 [nodes] KeyframeSelection: Set a dynamic size for the node
  meshroom/nodes/aliceVision/KeyframeSelection.py
Labels: invalidate:node

#2044 Viewer2D: Dynamically update the list of viewable outputs
  meshroom/core/node.py
  meshroom/nodes/aliceVision/DepthMap.py
  meshroom/ui/qml/Viewer/Viewer2D.qml
Labels: UI, invalidate:node

#2045 [blender] preview: handle background image not found
  meshroom/nodes/blender/scripts/preview.py
Labels: bugfix, Blender

#2046 [ui] ImageGallery: Display the name of the active `CameraInit` group
  meshroom/ui/qml/ImageGallery/ImageGallery.qml
Labels: UI

#2047 [ui] Display an icon on nodes that have viewable outputs
  meshroom/core/node.py
  meshroom/ui/qml/GraphEditor/Node.qml
Labels: UI

#1984 [nodes] DepthMap: New option for multi-resolution similarity estimation and optimizations
  meshroom/nodes/aliceVision/DepthMap.py
  meshroom/pipelines/cameraTracking.mg
  meshroom/pipelines/photogrammetry.mg
Labels: review, CUDA

#2053 [blender] preview: clear loaded images to avoid memory leak
  meshroom/nodes/blender/scripts/preview.py
Labels: bugfix, Blender

#2052 [ui] Display an icon on nodes that have viewable 3D outputs
  meshroom/core/node.py
  meshroom/ui/qml/GraphEditor/Node.qml
  meshroom/ui/qml/Viewer/Viewer2D.qml
Labels: UI

#2054 Fix submit through simpleFarm
  meshroom/submitters/simpleFarmSubmitter.py
Labels: bugfix, submitter

#2057 [ui] thumbnails: fallback if thumbnailDir could not be created
  meshroom/ui/components/thumbnail.py
Labels: bugfix, UI

#2059 [core] Detect and handle UID conflicts when loading a graph
  meshroom/core/graph.py
  meshroom/core/node.py
  meshroom/ui/qml/GraphEditor/CompatibilityManager.qml
Labels: feature

#2038 [core] Include the node's type in the UID computation
  meshroom/core/node.py
Labels: bugfix, invalidate:graph

#2064 [blender] preview: use cycles render engine
  meshroom/nodes/blender/scripts/preview.py
Labels: Blender

#2066 [nodes] parallelize ScenePreview
  meshroom/nodes/aliceVision/ExportAnimatedCamera.py
  meshroom/nodes/blender/ScenePreview.py
  meshroom/nodes/blender/scripts/preview.py
Labels: Blender

#2067 [doc] INSTALL: Add info about the sphere detection model
  INSTALL.md
Labels: scope:doc

#2071 [blender] preview: occlusions in wireframe shading
  meshroom/nodes/blender/scripts/preview.py
Labels: Blender

#2074 [blender] preview: use Freestyle for line art shading
  meshroom/nodes/blender/scripts/preview.py
Labels: bugfix, Blender

#2083 Set `ALICEVISION_SPHERE_DETECTION_MODEL` variable during the initialisation
  meshroom/__init__.py
Labels: scope:build

#2076 semantic image segmentation
  meshroom/nodes/aliceVision/FeatureExtraction.py
  meshroom/nodes/aliceVision/ImageSegmentation.py
Labels: CUDA, invalidate:node

#1951 Update build-ubuntu.sh
  docker/build-ubuntu.sh
Labels: scope:build
